.row{
  padding: 10px;
}
.text-right{
  float: right;
  display: none;
  visibility: hidden;
}
.panel-title:hover .text-right{
  float: right;
  display: block;
  color: red;
  visibility: visible;
  cursor: pointer;
}

.sort_selected::after{
  content: "\f00c";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}